# Python
__pycache__
.pytest_cache

# notebooks
.ipynb_checkpoints
*.nbconvert*.ipynb
.notebook_test.sh

# Misc
.aws/credentials
.DS_Store
.env
*.out

# logging
*.pt
*.ckpt

# artifacts
artifacts/
*.mp4